  .about-section {
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: white;
    width: 100wh;
  }

  .container {
    padding: 0 16px;
  }
  
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .btn {
    width: 100% !important;
    background-color: #000000 !important;
  }

  .btn:hover {
    background-color: #555 !important;    
  }

  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  .title {
    padding: 50px;
    text-align: center;
    color: rgb(0, 0, 0);
  }
  .section-above-footer{
    padding: 50px;
    text-align: center;
    background-color: #474e5d;
    color: #ffffff;
    font-size: 30px;
  }